.App {
  margin: 50px auto;
  width: 800px;
}

.App-header {
  color: #aaa;
  display: flex;
  align-items: baseline;
}

.App-logo {
  color: #eb4a42;
  flex-grow: 1;
  font-size: 40px;
  font-weight: 600;
}

.App-form {
  display: flex;
  margin-top: 60px;
}

.App-input {
  background: #eaeaea;
  border: none;
  border-radius: 3px;
  color: inherit;
  flex-grow: 1;
  font-size: 16px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
}

.App-input:focus {
  box-shadow: inset 0 0 0px 1px #888;
}

.App-input[disabled] {
  color: #999;
}

.App-input::-webkit-input-placeholder {
  color: #aaa;
}

.App-input::-moz-placeholder {
  color: #aaa;
}

.App-history {
  margin-top: 60px;
}

.App-historyTitle {
  font-size: 22px;
  margin-bottom: 20px;
}

.App-clearHistory {
  color: #eb4a42;
  display: inline-block;
  font-size: 14px;
  margin-left: 20px;
}
