body {
  background: #fcfbfa;
  color: #555;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  text-decoration: underline;
}
